$pri-brand-color-01: #f7941d;
$pri-text-color-01: #333333;
$hot-stock-color: #ed1b24;
$new-stock-color: #8493ca;
$pri-text-color6: #ccc;
$pri-text-color5: #fff;
$pri-black-color-0: #000;
$pri-black-color-1: #111;
$pri-black-color-2: #222;
$pri-black-color-5: #555;
$pri-black-color-6: #666;
$pri-black-color-7: #777;
$pri-black-color-8: #888;
$pri-text-color9: #3c3c3c;
$pri-text-color-10: #2c2d3f;
$pri-text-color-13: #8d8d8d;
$pri-text-color-14: #6a6a6a;
$pri-text-color-15: #898989;
$pri-text-color-16: #424646;
$pri-text-color-16: #757575;
$pri-text-color-17: #755ce4;
$pri-text-color-19: #21759b;
$pri-text-color-20: #737373;
$pri-text-color-21: #d5d5d8;
$pri-text-color-22: #f5b223;
$pri-text-color-23: #262626;
$pri-text-color-24: #63ab01;
$pri-text-color-25: #282828;
