/*======================================
   Start Shop Services CSS
========================================*/
.shop-services.section {
  padding: 80px 0 0px 0;
  background: #fff;
}
.shop-services.home {
  padding: 60px 0;
  background: #f6f7fb;
}
.shop-services .single-service {
  position: relative;
  padding-left: 65px;
}
.shop-services .single-service i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: $pri-text-color-01;
  background: transparent;
  border-radius: 100%;
  display: block;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 0;
}
.shop-services .single-service h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  color: $pri-text-color-01;
}
.shop-services .single-service p {
  color: #898989;
  line-height: 28px;
  font-size: 14px;
}
